// colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

$colors: (
  "white": $white,
  "light-gray": $light-gray,
  "grayish-blue": $grayish-blue,
  "dark-blue": $dark-blue,
);

// font sizes and weights
$base-font-size: 15px;
$large-font-size: $base-font-size * 1.5;
$base-font-weight: 400;
$bold-font-weight: 700;

// padding and margin
$base-margin: 16px;

// border
$base-border-radius: 16px;
$small-border-radius: 12px;
